<div class="d-flex flex-row align-items-center" style="margin: 10px">
    <div class="container">
        <div class="row justift-content-center">
            <div class="col-md-12 text-center ">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">De pagina kan niet worden gevonden</div>
                <button title="HyvesClone home" class="not-found-button" routerLink="/home"> 
                    <fa-icon [icon]="faHome"></fa-icon> Home
                </button>
            </div>
        </div>
    </div>
</div>