<div class="container" style="margin-top: 10px;">
  <app-make-post></app-make-post>
  <hr style="margin-top: 20px;">
    <div class="d-grid gap-3">
      <div *ngFor="let post of posts" class="card mx-auto" style="width: 100%">
        <div class="media">
          <div class="card-header">
            <div class="paragraphs">
              <div class="row">
                <div class="span4"> 
                  <a type="button" href="/profile/ {{ post.user_id }}" title="{{ post.first_name }}">
                    <img class="mr-3 " style="float: left; border-radius: 20%" height="50px" width="50px" src="{{ post.picture_url }}"/>
                    <div class="content-heading">
                      <span style="float: left; padding-left: 10px; font-weight: bold; font-size: larger; color: #f78934dc;">{{ post.first_name }}</span>
                    </div>
                  </a>
                  <div class="content-heading" style="float: right;">
                  <span style="font-weight: normal; color: #9b9494;">{{ post.date.toLocaleString('locale', { day: 'numeric', weekday: 'long', month: 'long', year: 'numeric' }) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body card-text">
            <p class="text-left">{{ post.content }}</p>
          <div *ngIf="post.image_url && post.image_url?.length !== 0">
            <img src="{{ post.image_url }}" class="card-img-top" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>