<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    routerLink="/profile"
    routerLinkActive="active"
    style="text-decoration: none"
    ><h1>Hyves</h1></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button (click)="auth.logout({ returnTo: document.location.origin })">
          Log out
        </button>
      </ng-container>

      <ng-template #loggedOut>
        <button (click)="auth.loginWithRedirect()">
          Log in/Registreren
        </button> </ng-template
      ><br />
      <a
        class="nav-item nav-link"
        routerLink="/account"
        routerLinkActive="active"
        >Account</a
      ><br />
      <a
        class="nav-item nav-link"
        routerLink="/profile"
        routerLinkActive="active"
        >Profiel</a
      ><br />
      <a
        class="nav-item nav-link"
        routerLink="/timeline"
        routerLinkActive="active"
        >Tijdlijn</a
      ><br />
    </div>
  </div>
</nav>
<h3 *ngIf="auth.user$ | async as user">Welkom {{ user.name }}!</h3>
<router-outlet></router-outlet>
