
<div class="d-grid gap-3">

    <div *ngFor="let post of posts" class="card w-50 mx-auto">  

        <div class="media">

            <!-- Name of poster w/ image (disabled for now) -->
            <div class="card-header">

                <div class="paragraphs">
                    <div class="row">
                        <div class="span4">
                            <img class="mr-3" style="float:left" height="75px" src="{{post.user_image}}">
                            <div class="content-heading"><p class="mt-0"><br><a href="/{{post.user_id}}" class="card-link">{{post.user}}</a></p></div>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Post content w/ optional image -->
            <div class="card-body card-text">

                <p class="text-left text-muted">{{post.date}}</p>

                <p class="text-left text-primary">{{post.content}}</p>

                <div *ngIf="post.image && post.image?.length !== 0">
                    <img src="{{post.image}}" class="card-img-top">
                </div>
            </div>

            <!-- Like/Dislike/Comment button -->
            <div class="card-footer text-muted">

                <p class="text-left text-muted">{{post.likes}} Likes</p>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <!-- <label class="btn btn-primary">
                      <input type="radio" name="likeStat" value="like" [(ngModel)]="like.value" (change)="onItemChange($event.target.value)"> 👍 
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="likeStat" value="dislike" [(ngModel)]="dislike.value" (change)="onItemChange($event.target.value)"> 👎 
                    </label> -->
                    <label class="btn btn-primary">
                        <input type="radio" name="likeStat" value="like" (change)="onItemChange('like')"> 👍 
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="likeStat" value="dislike" (change)="onItemChange('dislike')"> 👎 
                      </label>
                </div>

            </div>

        </div>

    </div>

</div>  


