
<div class="d-grid gap-3">

    <div *ngFor="let post of posts" class="card w-50 mx-auto">  

        <div class="media">

            <!-- Name of poster w/ image (disabled for now) -->
            <div class="card-header">

                <div class="paragraphs">
                    <div class="row">
                        <div class="span4">
                            <img class="mr-3" style="float:left" height="75px" src="{{post.user_image}}">
                            <div class="content-heading"><p class="mt-0"><br><a href="#" class="card-link">{{post.user}}</a></p></div>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Post content w/ optional image -->
            <div class="card-body card-text">

                <p class="text-left">{{post.content}}</p>

                <div *ngIf="post.image && post.image?.length !== 0">
                    <img src="{{post.image}}" class="card-img-top">
                </div>
            </div>

            <!-- Like/Dislike/Comment button -->
            <div class="card-footer text-muted">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" (click)="postInput()" value="like">👍</button>
                    <button type="button" class="btn btn-primary" (click)="postInput()" value="dislike">👎</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="clickEvent()">💬</button> -->
                </div>
                <h2>{{msg}}</h2>

            </div>

        </div>

    </div>

</div>  


