<div class="d-grid gap-3">
  <div *ngFor="let post of posts" class="card w-50 mx-auto">
    <div class="media">
      <!-- Name of poster w/ image (disabled for now) -->
      <div class="card-header">
        <div class="paragraphs">
          <div class="row">
            <div class="span4">
              <div class="col">
                <img
                  class="mr-3"
                  style="float: left; border-radius: 20%"
                  height="75px"
                  width="75px"
                  src="{{ post.picture_url }}"
                />
              </div>

              <div class="content-heading">
                <p
                  class="mt-0"
                  style="
                    float: left;
                    padding-left: 20px;
                    font-weight: bold;
                    margin: 0px;
                    font-size: larger;
                    align-content: center;
                  "
                >
                  <br /><a
                    href="/profile/{{ post.user_id }}"
                    class="card-link"
                    >{{ post.first_name }}</a
                  >
                </p>
                <p
                  style="
                    float: right;
                    padding: 0px;
                    margin: 0px;
                    font-weight: normal;
                  "
                >
                  {{ post.date.toLocaleString().slice(0, 10) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Post content w/ optional image -->
      <div class="card-body card-text">
        <p class="text-left">{{ post.content }}</p>
        <div *ngIf="post.image_url && post.image_url?.length !== 0">
          <img src="{{ post.image_url }}" class="card-img-top" />
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
