<br /><br />
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <br />
        <div class="form-group input-group-lg">
          <input
            class="form-control"
            placeholder="Wat heb je vandaag gedaan?"
            formControlName="content"
          />
        </div>
        <br />
        <div class="row">
          <div class="col" style="align-content: center; flex-wrap: wrap">
            <div class="form-group">
              <input
                type="file"
                accept="image/*"
                (change)="uploadFile($event)"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group" style="float: right">
              <button class="btn btn-lg">Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
