<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
          <textarea class="form-control" style="resize: none; height: 100px;" placeholder="Wat heb je vandaag gedaan?" formControlName="content"></textarea>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col" style="align-content: center; flex-wrap: wrap">
            <div class="form-group" style="display: flex; align-items: center;">
              <input type="file" accept="image/*" (change)="uploadFile($event)"/>
              <button class="btn btn-lg" style="margin-left: auto">Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
