<p>Registreren pagina</p>
<p>Hier kunnen toekomstig leden zich registreren op het platform</p>
<form [formGroup]="registerForm">
  <label>
    Voornaam:
    <input type="text" formControlName="first_name" /> </label
  ><br />
  <label>
    Achternaam:
    <input type="text" formControlName="last_name" /> </label
  ><br />
  <label>
    Gerbuikersnaam:
    <input type="text" formControlName="last_name" /> </label
  ><br />
  <label>
    Email:
    <input type="email" formControlName="last_name" /> </label
  ><br />
  <label>
    Wachtwoord:
    <input type="password" formControlName="last_name" /> </label
  ><br />
</form>
